* {
    margin: 0;
    padding: 0;
}

/* common section */
body {
    font-family: 'Lato';
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border: none;
    color: white;
}

.title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.description {
    /* width: 300px; */
    margin: 15px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-weight: 400;
}

.image {
    width: 200px;
    height: 290px;
}
.pink{
    color: #E55473;
}

/* header section */
.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #FDEEF1;
    height: 520px;
}

.header-image {
    padding-top: 50px;
    width: 200;
    height: 470px;
}

.header-content {
    padding-top: 120px;
}

.header-title {
    font-size: 50px;
    text-align: left;
}
.header-des{
    text-align: left;
}

/* featured section start here */
.featured {
    margin-top: 100px;
    text-align: center;
}

.image-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.first-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 290px;
    text-align: center;
    padding-top: 50px;

}

.second-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 300px;
    height: 290px;
    text-align: center;
    padding-top: 50px;
}

.third-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 300px;
    height: 290px;
    text-align: center;
    padding-top: 50px;
}

.image-container p {
    color: #272727;
    font-size: 15px;
    text-decoration: underline;
    margin-top: 10px;
    font-weight: bold;
}

/* service section start */
.service-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 950px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    gap: 48px;
    align-items: center;
}

.icon {
    height: 60px;
    width: 60px;
}

.delevary,
.fresh-flower,
.free-support{
    text-align: center;
}

/* hot deal section style */
.hot-deal-container {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 80px;
    justify-content:center;
    gap:100px;
    align-items: center;
    height: 400px;
}
.hot-deal-text ,button{
    text-align: center;
}

/* My section (Todays special discount) section style */
.special-discount{
    margin-top: 100px;
    background-color: rgba(0, 255, 255, 0.074);
    height: 400px;
    padding-top: 50px;
}

.special-flower{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px
}
.special-flower img{
    height: 250px;
    width: 200px;
    box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.559);
}

/* Instagram section style */
.instagram{
    margin-top: 80px;
}
.instagram-image{
    display: flex;
    justify-content: center;
    gap:20px;
}
.instagram-image div img{
    width:220px;
    height: 250px;
}

/* latest deal section style */
.background{
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    width: 950px;
    height: 300px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.deal-content input{
    width: 450px;
    height: 30px;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    margin-right: 8px;
}

/* footer style start from here */

.footer-background{
    background-color: #111010;
    margin-top: 80px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title{
    color: white;
}
.footer-des{
    color: rgba(255, 255, 255, 0.792);
}
small{
    margin-top: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.40);
    margin-left: 130px;
}