* {
    margin: 0;
    padding: 0;
}

/* common section */
body {
    font-family: 'Lato';
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    border: none;
    color: white;
}

.title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.description {
    width: 300px;
    margin: 15px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
}

/* header section */
.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #FDEEF1;
    height: 520px;
}

.header-image {
    padding-top: 50px;
    width: 200;
    height: 470px;
}

.header-content {
    padding-top: 120px;
}

.header-title {
    font-size: 50px;
}
